/* CSS Document */
html{
    font-size: 16px;
    font-family: Verdana, Tahoma, Arial, "serif";
}
.container{
    display:flex;
    flex-direction:   row;
    margin:0 20rem;
    background-color: white;
    max-width: 1290px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
	height: auto;

}

.items a{
    display: inline-block;
    padding: 0 1.5rem;
    color: #354657;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight:500;
    
}
.banner{
    background-image:url('../img/bg.png');
    height: 550px;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner__information-title{
    font-size: 1.8rem;    
    font-weight: 900;
}
.banner__information-desc{
    font-size: 1rem;    
    font-weight: lighter;
    padding:2rem 0;
}
.banner__information{
    color: white;
    margin-left: 20%;
    padding-top: 110px;
    transition: all 1.7s;
    width: 500px;
}

.banner__information:hover{
    transform: translateX(-100vw);
}

.banner__information-btn{
    background-color: #946FD3;
    border-radius: 18px;
    padding: 6px 0;
    text-align: center;
    width:120px;
}

.banner__information-btn a{

    font-size: 0.6rem;
    color: white;
    text-decoration: none;

}