/* CSS Document */
htmlm {font-size:16px;}
.container{
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.header__nav{
    margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
    
    }
    .header__nav-items{
        display: inline-block;
        align-items: center;
        padding: 0 1.5rem;
        
    }
      .header{
          background-color: #35444f;
          padding: 0.5rem;
          margin: 0 auto;
          margin-bottom: 1rem;
      }
      .link{
          text-decoration: none;
          color: white;
      }
      .box{
          height: auto;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
      }
      div.box__one{
          border: 1px solid black;
          display:flex;
          flex-direction: column;
          width: 30%;
          box-sizing: border-box;
          display: inline-block;
          height: 0%;
      }
div.box_wrap{width:70%}
      div.box__two{
        border: 1px solid black;
        margin-left: 2%;
        width: 98%;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        padding: 40px 0px;
    }

.box__one-item a{
    text-decoration: none;
    color:#485863;
    font-size:1rem;
    display:block;
    
    padding: 1em 2em;
    letter-spacing: 0.2em;
    
        
        
}
.box__one-item a:hover{
    background: #dbdbdb;
    padding-left:3em;
        
        
}
.txt {
    margin: 1rem;
    text-align: justify;
}

.footer__nav{
    margin: 0;
        padding: 0;
        list-style-type: none;
        
    
    }
    .footer__nav-items{
        display: inline-block;
        float: left;
        padding: 0 1.5rem;
        
    }
      .footer{
          background-color: #b4b7ba;
          padding: 0.5rem;
          margin: 0 auto;
          margin-top: 1rem;
          overflow: hidden;
      }
.footer__nav-items a{
    color:#0c1927;
    text-decoration: none;
    font-size: 0.8rem;
}
.footer__nav-items a:hover{
    color:#3181a6;
    text-decoration: underline;
    font-size: 0.8rem;
}
.cright{float:right; font-size:0.8rem; padding-top:3px;}