/* CSS Document */
html{
    font-size:10px;
}
body{
    font-family: 'Montserrat', "serif";
    
    background: #F58020;
}
.container {
    background:  black;
    border-radius: 35px;
    width:50%;
    min-widhh:260px;
    margin:0 auto;
    border: 1px solid black;
    padding: 1rem;
    box-sizing: border-box;
        
}
form label{
    font-size:1rem;
    color: white;
    font-weight:bold;
    letter-spacing: 0.1rem;
    padding:1rem 0.5rem;
    line-height: 3rem;
}

.title{
    font-weight: 900;
    font-size:3rem;
    text-align: center;
    color: #F58020;

}

form input{
    /*border:0; margin: 0 1rem;*/
    width: 100%;
   font-size:1.4rem;
    border:1px #F58020 solid;
    border-radius:6px;
}
.registr {
    background: #F58020;
    width: 19rem;
    text-align: center;
    margin: 15px auto;
    border: 1px solid #F58020;
    border-radius: 10px;
        
}
div.registr input{
    width:15rem;
    height: 3rem;
    background:  #FF8020;
    color: white;
    font-weight: 600;
}

.birthday_wrap{
    display: flex;
    justify-content: flex-start;
}

.birthday_wrap input {
    width:30%;
    margin: 0 2%;
}

 .birthday_wrap select {
    font-size:1.4rem;
    border:1px #F58020 solid;
    border-radius:6px;
    width:30%;
}