/* CSS Document */
body {
    padding: 0;
    margin:0;
    font-family: Verdana, Tahoma, Serif;
}
.black_pattern{
    background-color: #131210;
    overflow: hidden;
}
.white_pattern{
    background-color: #FFF;
    overflow: hidden;
}
.black_pattern__contactbar{
    margin: 0 auto;
    width:100%;
    padding:0 2rem;
    overflow: hidden;
    box-sizing: border-box;
}
.black_pattern__contactbar :first-child{
    float:left;
    
}
.black_pattern__contactbar :nth-last-child(1){
    float:right;
    
}

.black_pattern__contactbar :nth-last-child(1) a{
    text-decoration: none;
    font-size: 0.8em;
    color:white;
    padding-right:20px;
   
}
a.phone::before{
    content: '\260E';
    color:#135ec5;
    padding:0 3px;
}
a.mail::before{
    content: '\2709';
    color:#135ec5;
    padding:0 3px;
}

.black_pattern__contactbar :nth-last-child(1) div{
    margin: 5px 0;
    margin-left: 20px;
    border: 1 solid #FFF;
    border-radius: 20px;
    background-color: #fff;
    color:#135ec5;
    
}
.black_pattern__contactbar :nth-last-child(1)  a:last-child {
    text-decoration: none;
    font-size: 12px;
    color:#135ec5;
    font-weight:bolder;
    padding: 5px 10px;

}
div.black_pattern__car{
      text-align: center; position: relative;
       margin: 0 auto;

}
div.black_pattern__car> div{
   
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 1.5em;
 
}

div.black_pattern__car img{
     position: absolute;
     top:0;
     left:50%;
    padding-top: 4rem;
    margin-left:-220px;

}
.black_pattern__car-options{
    opacity: 1;
}
div.slogan{
    font-weight:900;
    font-size:85px;
    color: white;
    opacity: 0.1;
    text-align: center;
}
div.title{
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    opacity: 1;
    padding-top:130px;
   
}
ul.options, ul.smlogo{
    
    text-align: center;
    color: #3c3c3c;
    font-size: 16px;
    font-weight:600;
    letter-spacing: normal;
    list-style-type: none;
    padding-left: 0;
    width:100%;
    margin: 15px 0;
}
ul.options li{
    display: inline;
    width:250px;
    border-bottom:1px  #3c3c3c solid;
    padding-right:60px;
    padding-bottom: 10px;
}
ul.smlogo li{
    display: inline;
    width:250px;
    padding: 0 40px;
}
ul.options li:nth-child(even) {border-width:0px;}

li.search a{
    text-decoration: none;
    font-size: 12px;
    color:#FFF;
    font-weight:bolder;
    padding: 5px 10px;

}
li.search {
    margin: 5px 0;
    margin-left: 20px;
    padding: 3px 10px!important;
    border: 1 solid #135ec5;
    border-radius: 20px;
    background-color: #135ec5;
    color:#135ec5;
}
.white_pattern-title{
    color: #c1c1c1;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    font-size: 10px;
    font-weight: bold;
}
.white_pattern__carinfo{
    margin-top: 50px;
    color: rgba(193, 193, 193, 255);
    font-size: 11px;
}
.white_pattern__carinfo img{
    float:left;
    padding:10px 30px;
    
}
.title_car{
    color: rgba(193, 193, 193, 255);
    font-size: 30px;
    font-weight:800;
    color: #135ec5;
}