/* CSS Document */
.wrapper{

font-family:  Arial, Serif, Verdana;
    max-width:1260px;   
    margin: 0 auto;
    
}
a{
        text-decoration: none;
}
.navbar__menu{
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding:0;
        
}
.navbar__menu-item{
  display: inline-block;   
   padding: 16px 1.5rem;
 
    
}
.navbar__menu-item a{
    text-transform: uppercase;
    color:#16A085;
    font-size: 14px;
    font-weight: 600;

    
}
.bgphoto{
    background-repeat: no-repeat;
    background-image: url("../bgphoto.png");
    height:790px;


}
.content{
text-align:center;
padding: 0.5rem 2rem;

}

.content__title{
    text-transform: uppercase;
     font-weight:bold;
}
.btn{
   background-color:  #16a085;
   width:192px;
   padding: 10px 0;
   text-transform: uppercase;
   color:#FFFFFF; 
   margin:2rem  auto;
}
.cright{
    text-align: right;
    font-size: 10px;
    font-weight:bold;
    padding: 0.5rem 2rem;
}